body {
    background-color: var(--color-light-bg);
    color: var(--color-text);
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
}

/* Messages Flash Bootstrap */
.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;
    z-index: 1050;
    opacity: 0.95;
}

.alert.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}
