body {
    background-color: var(--color-light-bg);
    color: var(--color-text);
    font-family: var(--font-main), sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    margin: 0;
    padding: 0; /* ✅ supprime tout espace vertical */
}

footer {
    margin-top: 0; /* ✅ collé au main */
    padding-top: 1rem;
    background-color: var(--color-white);
    text-align: right;
    height: 81px;
    display: flex;
    align-items: center; /* ✅ centré verticalement */
    justify-content: flex-end;
    font-family: var(--font-main), sans-serif;
    color: var(--color-text);
    font-size: var(--font-size-sm);
}

/* Messages Flash Bootstrap */
.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;
    z-index: 1050;
    opacity: 0.95;
}

.alert.fade-out {
    animation: fadeOut 1s forwards;
}

.alert {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 1rem auto;
}


@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}
