/* Importation des feuilles modulaires */
@import './_variables.css';
@import './_header.css';
@import './_footer.css';
@import './_buttons.css';
@import './_ProduitCard.css';
@import './_principale.css';
@import './_login.css';
@import './_registration.css';
@import './_produit.css';
@import './_main.css';

/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

